body {
    min-height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(35 0 0 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-size: var(--base-font-size);
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

main,
section {
    width: 100%;
    position: relative;
}

.page__container,
.page__wrap {
    display: flex;
    flex-direction: column;
}

.page__wrap {
    height: 100%;
    margin-bottom: 8rem;
}

section {
    margin-bottom: 8rem;
}
.page__container {
    min-height: 100%;
}
.page {
    position: relative;
    z-index: 2;
    flex: 1 0 auto;
}
/*.hero__home {
    &.char__active {
        .char {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }
}

.char {
    display: inline-block;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0;
    transform: translate(0%, 50%);
    transition: all 1s;
}
*/

.char {
    display: inline-block;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0;
    transform: translate(0%, 50%);
}
.hero__title,
.footer__title {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    font-size: 22.93vw;
    --tw-text-opacity: 1;
    color: rgb(89 52 52 / var(--tw-text-opacity));
    line-height: 0.85;
}
@media (min-width: 1024px) {
    .hero--home .hero__title {
        font-size: 21vw;
    }
}
.hero--home {
    position: relative;
}
.hero--home .hero__title-row {
    position: relative;
    width: 100%;
}
.hero--home .hero__pepper {
    position: absolute;
    z-index: 400;
    top: -23%;
    left: 0;
}
.hero__pepper {
    width: 100%;
    rotate: 15deg;
}

.hero__pepper img {
    position: absolute;
    top: 0;
    left: 0;
}

.hero--home .hero__title-row:last-child {
    display: flex !important;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .hero--home .hero__title-row:last-child {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.hero--home .hero__title-row:last-child span {
    display: flex !important;
    width: 100%;
}

@media (min-width: 1024px) {
    .hero--home .hero__title-row:last-child span {
        display: inline-block !important;
        width: auto;
    }
}

.footer__title-row:last-child span:last-child {
    justify-content: flex-end;
}

.footer__title-row:last-child span {
    display: flex !important;
    width: 100%;
}

@media (min-width: 1024px) {
    .footer__title-row:last-child span {
        display: inline-block !important;
        width: auto;
    }
}

.footer__title-row:last-child span:last-child {
    justify-content: flex-end;
}
h1 {
    font-family: 'Cubano', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.section_maintitle {
    background-color: #230000;
    position: relative;
}

.img_pepper {
    z-index: 20;
    width: 1500px;
    height: 610px;
    position: absolute;
    top: -120px;
    left: 0;
    rotate: 20deg;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
}

.word {
    display: flex;
}

.nav-head__menutoggle {
    z-index: 10;
    flex-direction: column;
}

.nav-head__menu {
    z-index: 3;
    justify-content: flex-end;
}

.nav-head__menu,
.nav-head__menutoggle {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-head__menutoggle-text {
    position: relative;
    order: 2;
    margin-top: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.nav-head__menutoggle-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-head__menutoggle-close,
.nav-head__menutoggle-open {
    display: block;
    transition: transform 0.42s var(--ease-power4);
}

.nav-head__menutoggle-close {
    position: relative;
    transform: translateY(100%);
}

.nav-head__menutoggle-circle {
    order: 1;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 61 61 / var(--tw-bg-opacity));
}

.nav-head__menutoggle-icon {
    position: relative;
    height: 1rem;
    width: 1rem;
    transition: transform 0.42s var(--ease-power4);
}

.nav-head__menutoggle-icon span {
    position: absolute;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.nav-head__menutoggle-icon span:first-child {
    top: 0;
    left: calc(50% - 0.5px);
    height: 100%;
    width: 1px;
}

.nav-head__menutoggle-icon span:last-child {
    top: calc(50% - 0.5px);
    left: 0;
    height: 1px;
    width: 100%;
}

.head-section__container {
    display: flex;
    max-width: 89.5522%;
    flex-direction: column;
}

@media (min-width: 768px) {
    .head-section__container {
        max-width: 100%;
    }
}

.head-section__text {
    max-width: 100%;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(89 52 52 / var(--tw-text-opacity));
    font-family: sans-serif;
}

@media (min-width: 768px) {
    .head-section__text {
        max-width: 93.5%;
    }
}

.head-section__text,
.head-section__text .t-small {
    vertical-align: middle;
}

.slide_part {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button {
        font-size: 3vw;
        background-color: #230000;
        color: #ffecd5;
        border-style: none;
    }
}

.slide_part__scroller {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.slide_part__item {
    position: relative;
    min-width: 1200px;
    .img {
        width: 550px;
        height: 800px;
    }
}

@media (min-width: 768px) {
    .slide_part__item {
        min-width: calc(var(--v-width) * 0.54);
    }
}

@media (min-width: 1024px) {
    .slide_part__item {
        min-width: calc(var(--v-width) * 0.36375);
    }
}

.slide_part__item-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.benefit_list {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-inline-start: 0px;
}
.benefit_item {
    margin: 3rem 10rem;
    li {
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        gap: 1rem;
    }
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none; // a태그의 밑줄을 없애준다
    color: white; //a태그의 색상을 지정해 보라색이 되는것을 없애준다
}

.i_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 93.4%;
}

.nav-head__container {
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .benefit_item {
        margin: 1rem 3rem;
    }
}

@media (max-width: 760px) {
    .benefit_list {
        flex-direction: column;
        align-items: center;
    }
}

.hero__bottom-lime {
    position: absolute;
    width: 45%;
}

.hero__bottom-lime-first {
    left: 10%;
    top: 75%;
    img {
        position: absolute;
        top: 0%;
        left: 0;
    }
}
.hero__bottom-lime-last {
    right: 4%;
    top: 125%;
    img {
        position: absolute;
        top: 0%;
        right: 0;
    }
}

.hero__brandstory .hero__title {
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 24vw;
    line-height: 0.85;
    --tw-text-opacity: 1;
    color: rgb(255 236 213 / var(--tw-text-opacity));
    .line {
        text-align: right;
    }
}

.story__first {
    width: 90%;
    height: 500px;
    background-color: #5e855e;
    rotate: -2.15deg;
    border: 1px #5e855e solid;
    border-radius: 45px;
    margin-bottom: 10%;
}
.story__second {
    width: 90%;
    height: 500px;
    background-color: #fcbe74;
    rotate: 2.15deg;
    border: 1px #fcbe74 solid;
    border-radius: 45px;
    margin-bottom: 10%;
}
.story__third {
    width: 90%;
    height: 500px;
    background-color: #e0adad;
    rotate: -2.15deg;
    border: 1px #e0adad solid;
    border-radius: 45px;
    margin-bottom: 10%;
}

.brandstory__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
