body {
    min-height: 100%;
    width: 100%;
    background-color: rgb(35 0 0);
    color: rgb(255 255 255);
    font-size: var(--base-font-size);
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow-x: hidden;
}

main,
section {
    width: 100%;
    position: relative;
}
.is_menu__open {
    .nav-head__menutoggle-icon {
        rotate: 135deg;
        transition: all 1s;
    }
    .nav-head__menutoggle-circle {
        transform: scale(13.5);
        transition: all 1.3s;
        @include tabletMore {
            transform: scale(30);
            transition: all 1.3s;
        }
    }
}
.page__container,
.page__wrap {
    display: flex;
    flex-direction: column;
}

.page__wrap {
    height: 100%;
    margin-bottom: 8rem;
}

section {
    margin-bottom: 8rem;
}
.page__container {
    min-height: 100%;
}
.page {
    position: relative;
    z-index: 2;
    flex: 1 0 auto;
}
/*.hero__home {
    &.char__active {
        .char {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }
}*/

.char {
    display: inline-block;
    translate: none;
    rotate: none;
    scale: none;
    //opacity: 0;
    // transform: translate(0%, 20%);
    //transition: all 1s;
}
.line1 {
    transition: all 1s;
}
.word {
    display: inline-block;
}
.char {
    display: inline-block;
}

.w1,
.w2,
.w3 {
    display: inline-block;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0;
    transform: translate(0%, 20%);
}

.hero__title {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    font-size: 22.93vw;
    --tw-text-opacity: 1;
    color: rgb(255 236 213 / var(--tw-text-opacity));
    line-height: 0.85;
}
.footer__title {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    font-size: 26.6vw;
    --tw-text-opacity: 1;
    color: rgb(89 52 52 / var(--tw-text-opacity));
    line-height: 0.85;
}

.footer__title-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 1024px) {
    .hero--home .hero__title {
        font-size: 21vw;
    }
}
.hero--home {
    position: relative;
}
.hero--home .hero__title-row {
    position: relative;
    width: 100%;
}
.hero--home .hero__pepper {
    position: absolute;
    z-index: 10;
    //top: -145%;
    right: 0;
    transform: translate(-20%, -125%);
}
.hero__pepper {
    width: 110%;
    rotate: 15deg;
}

.hero__pepper img {
    position: absolute;
    top: 0;
    left: 0;
}

.hero--home .hero__title-row:last-child {
    display: flex !important;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .hero--home .hero__title-row:last-child {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.hero--home .hero__title-row:last-child span {
    display: flex !important;
    width: 100%;
}

@media (min-width: 1024px) {
    .hero--home .hero__title-row:last-child span {
        display: inline-block !important;
        width: auto;
    }
}

.footer__title-row:last-child span:last-child {
    justify-content: flex-end;
}

.footer__title-row:last-child span {
    display: flex !important;
    width: 100%;
}

@media (min-width: 1024px) {
    .footer__title-row:last-child span {
        display: inline-block !important;
        width: auto;
    }
}

.footer__title-row:last-child span:last-child {
    justify-content: flex-end;
}
h1 {
    font-family: 'Cubano', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.section_maintitle {
    background-color: #230000;
    position: relative;
}

.img_pepper {
    z-index: 20;
    width: 1500px;
    height: 610px;
    position: absolute;
    top: -120px;
    left: 0;
    rotate: 20deg;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
}

.word {
    display: flex;
}

.nav-head__menutoggle {
    z-index: 10;
    flex-direction: column;
}

.nav-head__menu {
    z-index: 3;
    justify-content: flex-end;
}

.nav-head__menu,
.nav-head__menutoggle {
    position: relative;
    display: inline-block;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.nav-head__menutoggle-text {
    position: relative;
    order: 2;
    margin-top: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.nav-head__menutoggle-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-head__menutoggle-close,
.nav-head__menutoggle-open {
    display: block;
    transition: transform 0.42s var(--ease-power4);
}

.nav-head__menutoggle-close {
    position: relative;
    transform: translateY(100%);
}

.nav-head__menutoggle-circle {
    z-index: 10;
    top: 0;
    left: 0;
    order: 1;
    position: absolute;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 61 61 / var(--tw-bg-opacity));
    transition: all 1.3s;
}

.nav-head__menutoggle-icon {
    z-index: 15;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    transition: transform 0.42s var(--ease-power4);
}

.nav-head__menutoggle-icon span {
    position: absolute;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.nav-head__menutoggle-icon span:first-child {
    top: 0;
    left: calc(50% - 0.5px);
    height: 100%;
    width: 1px;
}

.nav-head__menutoggle-icon span:last-child {
    top: calc(50% - 0.5px);
    left: 0;
    height: 1px;
    width: 100%;
}

.head-section__container {
    display: flex;
    max-width: 89.5522%;
    flex-direction: column;
}

@media (min-width: 768px) {
    .head-section__container {
        max-width: 100%;
    }
}

.head-section__text {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(89 52 52 / var(--tw-text-opacity));
    font-family: sans-serif;
    font-size: 4vw;
}

@media (min-width: 768px) {
    .head-section__text {
        max-width: 93.5%;
    }
}

.head-section__text,
.head-section__text .t-small {
    vertical-align: middle;
}

.slide_part {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button {
        font-size: 7vw;
        background-color: #230000;
        color: #ffecd5;
        border-style: none;
    }
}

.slide_part__scroller {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.slide_part__item {
    position: relative;
    min-width: 1200px;
    .img {
        width: 550px;
        height: 800px;
    }
}

.slide_part__item-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.benefit_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    @include mobileMore {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 8rem;
        padding-inline-start: 0px;
    }
}
.benefit_item {
    margin: 1rem 3rem;

    li {
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        gap: 1rem;
    }
    @include tabletMore {
        margin: 3rem 10rem;
    }
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none; // a태그의 밑줄을 없애준다
    color: white; //a태그의 색상을 지정해 보라색이 되는것을 없애준다
}

.i_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 93.4%;
}

.nav-head__container {
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.hero__bottom-lime {
    position: absolute;
    width: 70%;
    @include tabletMore {
        width: 50%;
    }
}

.hero__bottom-lime-first {
    left: -10%;
    top: 40%;
    rotate: -1.47deg;
    transform: translate(10%, -200%);
    @include tabletMore {
        left: 5%;
        top: 45%;
    }
    img {
        position: absolute;
        top: 0%;
        left: 0;
    }
}
.hero__bottom-lime-last {
    right: 0%;
    top: 100%;
    rotate: -2.1deg;
    transform: translate(10%, -280%);
    @include tabletMore {
        right: 5%;
        top: 85%;
    }
    img {
        position: absolute;
        top: 0%;
        right: 0;
    }
}

.hero__brandstory .hero__title {
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 24vw;
    line-height: 0.85;
    color: rgb(255 236 213);
    .line {
        text-align: right;
    }
}

.brandstory__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
/*
.menu_head__img-bg {
    position: absolute;
    z-index: 10;
    top: 32%;
}*/

.menu_head__img-fruit {
    position: absolute;
    z-index: 10;
    top: 15%;
    right: 2%;
    width: 50%;
    transform: rotate(-16.6deg);
    @include mobileMore {
        width: 50%;
    }
    @include tabletMore {
        width: 40%;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.menu_maintitle {
    color: #230000;
    font-size: 24vw;
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: -1%;
    @include mobileMore {
        font-size: 24vw;
    }
}

.menu_subtitle {
    font-family: 'Bakbak One', serif;
    font-weight: 400;
    color: #000;
    font-size: 15vw;
}
.story__first {
    background-color: #5e855e;
    border: 1px #5e855e solid;
    width: 100%;
    height: 100%;
    @include tabletMore {
        width: 90%;
        height: 500px;
        rotate: -2.15deg;
        border-radius: 45px;
        margin-bottom: 10%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }
}
.story__second {
    background-color: #fcbe74;
    border: 1px #fcbe74 solid;
    width: 100%;
    height: 100%;
    @include tabletMore {
        width: 90%;
        height: 500px;
        rotate: 2.15deg;
        border-radius: 45px;
        margin-bottom: 10%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }
}

.story__third {
    background-color: #e0adad;
    border: 1px #e0adad solid;
    width: 100%;
    height: 100%;
    @include tabletMore {
        width: 90%;
        height: 500px;
        rotate: -2.15deg;
        border-radius: 45px;
        margin-bottom: 10%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 20px;
    }
}

.story__document {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    @include mobileMore {
        font-size: 20px;
    }
}

.menu_h1title {
    text-align: center;
    font-size: 7vw;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer__container {
    flex-direction: column;
}

.content_box {
    display: flex;
    flex-direction: row;
}
.hero__last {
    position: relative;
}

.hero__ill__last-first {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 40%;
    rotate: -52.1997deg;
    @include mobileMore {
        width: 40%;
    }
    @include tabletMore {
        top: 45%;
        width: 30%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.hero__ill__last-second {
    width: 45%;
    position: absolute;
    top: 45%;
    left: 15%;
    rotate: 25.8deg;
    @include mobileMore {
        width: 40%;
    }
    @include tabletMore {
        top: 65%;
        width: 30%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.hero__ill__last-third {
    width: 45%;
    position: absolute;
    top: 65%;
    left: 35%;
    rotate: -52.1997deg;
    @include mobileMore {
        width: 40%;
    }
    @include tabletMore {
        top: 85%;
        width: 30%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.garlicdrop_event {
    height: 700px;
    @include mobileMore {
        height: 1000px;
    }
}
.garlicdrop_event__ill-main {
    width: 70%;
    position: absolute;
    top: 0%;
    left: 10%;
    transform: scaleX(-1);
    @include tabletMore {
        left: 30%;
        width: 30%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.garlicdrop_event__second {
    width: 40%;
    position: absolute;
    top: 35%;
    left: 30%;
    rotate: -75deg;
    @include mobileMore {
        top: 40%;
    }
    @include tabletMore {
        width: 20%;
        top: 40%;
        left: 35%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.garlicdrop_event__third {
    width: 40%;
    position: absolute;
    top: 70%;
    left: 40%;
    rotate: 20deg;
    @include tabletMore {
        top: 65%;
        left: 45%;
        width: 20%;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.event_content_box {
    display: flex;
    flex-direction: column;
    @include tabletMore {
        flex-direction: row;
    }
}

.event_maintitle {
    font-family: 'Cubano';
    font-weight: 400;
}

.left-box {
    text-align: center;
}
p {
    color: black;
}
.slide__menu__selector {
    button {
        border-radius: 45px;
        border: 1px solid #e84228;
        color: #e84228;
        background-color: #ffecd5;
        height: 45px;
        width: 90%;
        transition: all 0.3s;
        &:hover {
            background-color: #e84228;
            color: #ffecd5;
        }
    }
}
@media (min-width: 600px) {
    .menu_head__img-bg {
        top: 40%;
    }
    /*.story__first,
    .story__second,
    .story__third {
        height: 600px;
    }*/
}
.story__sub {
    @include tabletMore {
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    .menu_head__img-bg {
        top: 45%;
    }
}
.footer__last {
    @include tabletMore {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Cubano';
    }
}
/*
.swiper-slide-active {
    transform: scale(1.5) !important;
}
*/
.swiper-slide {
    transition: all 0.3s;
}

.sec__brandstory {
    @include mobileMore {
        margin-bottom: 16rem;
    }
}
